@use "../../styles/globalStyle.scss";
@use "../../styles/globalVariables.scss";

.title{
    font-size: globalVariables.$font-size-xx-large;
    font-family: globalVariables.$BoldStrom;
    z-index: 1;
}

.landing-subtitle{
    text-align: center;
    font-size: globalVariables.$font-size-large;
    z-index: 1;
}
