.text-container {
  ul {
    border: 2px solid #000;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;

    li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 30px;

      &::before {
        content: "💭";
        position: absolute;
        left: 0;
      }
    }
  }
  a{
    text-decoration: none;

  }
}
