@use "../../styles/globalVariables.scss";
@use "../../styles/mediaQuery.scss";

.contact-us {
    a {
        color: globalVariables.$White;

        text-decoration: none;
    }
    font-size: large;
    font-family: globalVariables.$TextFontBold;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
.main.contact-text {
    color: white;

    .contact-left,
    .contact-right {
        margin: 1rem;
    }
    .contact-right {
        height: 500px;
        width: 500px;
        @include mediaQuery.respond-to(medium) {
            height: 400px;
            width: 400px;
        }
        @include mediaQuery.respond-to(small) {
            height: 300px;
            width: 300px;
        }
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; // 16:9 aspect ratio
        height: 0;

        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}
