@use '../../styles/globalVariables.scss';
@use '../../styles/mediaQuery.scss';



.about-left{
  width:40vw;
  margin-right: 1rem;

}
.title-smaller{
  font-family: globalVariables.$GulfDisplay;
  font-size: globalVariables.$font-size-x-large;
}
.image{
  width:40vw;
  height:auto;
  
}
.about-right{
  width:50vw;
  margin-left: 1rem;
  font-size: xx-large;
}

.about-right div{
  margin-bottom: 1.5rem;

}