@use '../../styles/globalVariables.scss';
@use '../../styles/mediaQuery.scss';



.text-left{
  width:40vw;
}
.image{
  width:40vw;
  height:auto;
  
}
.text-right{
  width:50vw;
  font-size: x-large;
}