.videos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: x-large;

    gap: 20px; 


    .image{
        width:20rem;
        height:auto;
    }
}

#media_aparitions h1{
    margin-top:10rem;
}