@use "../../styles/globalVariables.scss";
@use "../../styles/mediaQuery.scss";
@use '../../styles/mediaQuery.scss';

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: x-large;
    justify-content: center;
    gap: 20px;

    @include mediaQuery.respond-to(large) {
        grid-template-columns: repeat(1, 1fr);
        width:50vw;
    }

    .image {
        width: 15rem;
        height: auto;
    }
}
