@use "../../styles/globalStyle.scss";
@use "../../styles/globalVariables.scss";

.logo-img {
  width: 64px;
  height: auto;
  margin-left: 2em;
  margin-top: 0.25em;
}

.link{
  cursor:pointer;
}
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 1 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav-small-screen{
  height: auto;
}
.nav-link {
  text-transform: uppercase;
  text-align: center;
}
.nav-link.active{
  color:globalVariables.$TextFont;
  background: -webkit-linear-gradient(45deg, globalVariables.$PrimaryYellow, globalVariables.$Orange);
  background: linear-gradient(45deg, globalVariables.$PrimaryYellow, globalVariables.$Orange);
 
}
    .nav-link-span {
      transform: skew(20deg);
      display: inline-block;
    }
  
    .nav-link {
      transform: skew(-20deg);
      color: globalVariables.$FontColor;
      text-decoration: none;
    }
    .nav-link:last-child {
      padding-right: 3em;
    }
  
    a:hover.nav-link:not(.active) {
      color: globalVariables.$FontColor;
      background: globalVariables.$SecondaryBlue;
      
    }
#nav {
   background-color: globalVariables.$PrimaryBlue;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  user-select: none;
  height:4em;
}
#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

.right {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 1.5em;
  height: auto;
}

.gradient {
  background: globalVariables.$PrimaryYellow; 
  height:4em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}