@use "../../styles/globalStyle.scss";
@use "../../styles/globalVariables.scss";

.logo-img {
  width: 64px;
  height: auto;
  margin-left: 1em;;
  margin-top: 0.25em;
}

.link {
  cursor: pointer;
}

#nav-wrapper {
  overflow: hidden;
  width: 100%;
  margin: 1 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-small-screen {
  height: auto;
}

.nav-link-span{

  font-family: globalVariables.$GulfDisplay;
  text-transform: uppercase;
  font-size: medium;
  text-align: center;

}
.nav-link {
  transform: skew(-20deg);
  &:hover:not(.active) {
    color: globalVariables.$FontColor;
    background: globalVariables.$SecondaryBlue;
  }
  
  &:last-child {
    padding-right: 3em;
  }
  
  &.active {
    color: globalVariables.$TextFont;
    background: -webkit-linear-gradient(45deg, globalVariables.$PrimaryYellow, globalVariables.$Orange);
    background: linear-gradient(45deg, globalVariables.$PrimaryYellow, globalVariables.$Orange);
  }
}


#nav {
  background-color: globalVariables.$PrimaryBlue;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  user-select: none;
  height: 4em;

  &.nav-visible {
    height: 100%;
    overflow: auto;
  }
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

.right {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 1.5em;
  height: auto;
}


@keyframes navbar-hover {
  10% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}