@font-face {
    font-family: "BoldStrom";
    src: url("/assets/fonts/Boldstrom.otf") format("opentype");
  }
  
  @font-face {
    font-family: "GulfDisplay";
    src:
      url("/assets/fonts/GulfsDisplay/GulfsDisplay.ttf") format("truetype"),
      url("/assets/fonts/GulfsDisplay/GulfsDisplay.woff") format("woff"),
      url("/assets/fonts/GulfsDisplay/GulfsDisplay.woff2") format("woff2"),
  
  }
    
  @font-face {
    font-family: "GilroyLight";
    src: url("/assets/fonts/GilroyLight/GilroyLight.otf") format("opentype"),
    url("/assets/fonts/GilroyLight/GilroyLight.woff") format("woff"),
    url("/assets/fonts/GilroyLight/GilroyLight.woff2") format("woff2"),
  }

  @font-face {
    font-family: "GilroyBold";
    src: url("/assets/fonts/GilroyBold/GilroyBold.ttf") format("truetype"),
    url("/assets/fonts/GilroyBold/GilroyBold.woff") format("woff"),
    url("/assets/fonts/GilroyBold/GilroyBold.woff2") format("woff2"),
  }