@use "fonts";

$BoldStrom: "BoldStrom", sans-serif;
$TextFont: "GilroyLight", sans-serif;
$GulfDisplay: "GulfDisplay", sans-serif;

$FontColor: #252120;

/*------------------------------------*\
  # Color
\*------------------------------------*/

$PrimaryRed: #e06053;
$PrimaryYellow: #f7d83f;
$PrimaryBeige: #e2d4a5;
$PrimaryBlue: #48aeb0;
$PrimaryGreen: #294f50;

$SecondaryRed: #ad453a;
$SecondaryBlue: #328a8c;
$SecondaryBeige: #bdae83;

$Orange: #f6a93f;
$White: #ffffff;
$Grey: #a2b2bf;

/*------------------------------------*\
  # Media Queries
\*------------------------------------*/

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

/*------------------------------------*\
  # Transitions
\*------------------------------------*/

$ease-in-out: 0.3s ease-in-out;

/*------------------------------------*\
  # Spacing
\*------------------------------------*/

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3em;
$font-size-x-large: 4rem;
$font-size-xx-large: 5rem;

$landing-page-image:'/assets/images/school.png'