@import "mediaQuery";
@import "globalVariables";

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

.skew {
    transform: skew(-20deg);
}

.un-skew {
    transform: skew(20deg);
}

.main{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

#about {
    background-color:$PrimaryRed;
    height: 100vh;
}
#landing {
    height: 100vh;
}
