@import "mediaQuery";
@import "globalVariables";

html {
    scroll-behavior: smooth;
}

body {
    line-height: 2rem;
    padding: 0;
    margin: 0;
    font-family:$TextFont;
    color:$FontColor
}

.skew {
    transform: skew(-20deg);
}

.un-skew {
    transform: skew(20deg);
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#landing {
    background-image: $landing-page-image;
    flex-direction: column;
    height: 50vh;
}

#about {
    background-color: $PrimaryBeige;
    height: 100vh;
}

#media_aparitions {
    height: 100vh;
}

#articles {
    height: 100vh;
}

#courses {
    height: 200vh;
}

#offer {
    height: 100vh;
}

#contact {
    height: 100vh;
    background-color: $PrimaryGreen;
}
