@import "mediaQuery";
@import "globalVariables";

html {
    scroll-behavior: smooth;
}

body {
    line-height: 2.2rem;
    padding: 0;
    margin: 0;
    font-family: $TextFont;
    color: $FontColor;
}

.skew {
    transform: skew(-20deg);
}

.un-skew {
    transform: skew(20deg);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to(xlarge) {
        flex-direction: column;
    }
}

#landing {
    background-image: url($landing-page-image);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    flex-direction: column;
    height: 60vh;
    @include respond-to(medium){
        background-size: auto 100%;
        height: 80vh;
    }


}
#landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    @include respond-to(medium){
        height: 80vh;
    }

}

#about {
    background-color: $PrimaryBeige;
}

#media_aparitions {
    background-color: $PrimaryYellow;
}

#articles {
    background-color: $PrimaryRed;
}
#courses {
    background-color: $SecondaryRed;
}

#offer {
    background-color: $Orange;
}
#contact {
    background-color: $PrimaryGreen;
}

section {
    height: auto;
    h1 {
        margin-top: 7.5rem;
        @include respond-to(large)
        {
            margin-top: 6rem;
        }
        @include respond-to(medium)
        {
            margin-top: 5rem;
        }
    }
}

.subtitle {
    font-family: $TextFontBold;
}

.section-end {
    margin-bottom: $bottomSpacing;
}
.section-start{
    margin-top: $bottomSpacing;
}