@import "./globalVariables.scss";


@mixin respond-to($breakpoint) {
    @if $breakpoint == small {
      @media (max-width: $breakpoint-small) {
        @content;
        background-color: $Orange;
      }
    } @else if $breakpoint == medium {
      @media (max-width: $breakpoint-medium) {
        @content;
      }
    } @else if $breakpoint == large {
      @media (max-width: $breakpoint-large) {
        @content;
      }
    } @else if $breakpoint == xlarge {
      @media (max-width: $breakpoint-xlarge) {
        @content;
      }
    }
  }
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  